@import "../../../less/variables.less";

.root {
  margin: 0;
}

.color_dark {
  color: @color-text-dark;
}

.color_base {
  color: @color-text-base;
}

.color_light {
  color: @color-gray;
}

.color_alert {
  color: var(--theme-color-danger);
}

.color_link {
  color: var(--theme-color-link);
}

.color_primary {
  color: var(--theme-color-primary);
}

.color_success {
  color: @success-color;
}
