@import "../../../less/variables.less";

.root {
  display: inline-block;
  padding: @space-4 @space-extra-small;
  border-radius: @border-radius-4;
  white-space: nowrap;
  background: @color-page-bg;
  color: @color-text-base;
  font-weight: 500;
  font-size: @fz-small;
  line-height: @fz-18;
}

.root_variant_blue {
  background: @blue-50;
  color: @blue-700;
}

.root_variant_green {
  background: @green-50;
  color: @green-700;
}

.root_variant_purple {
  background: @purple-50;
  color: @purple-700;
}

.root_variant_red {
  background: @red-50;
  color: @red-700;
}

.root_variant_yellow {
  background: @yellow-50;
  color: @yellow-700;
}
